#Ignore SQLite database files and journals
*.sqlite
*.sqlites
*.db
*.db-journal

# Ignore Python virtual environments
venv/
.venv/

# Ignore local environment variables
.env*
.env.local
!.env.example # this is for the team
